* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, rgb(0, 106, 198), rgb(0, 148, 159));
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow: hidden;
}

.main-container {
  position: relative;
  width: 350px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
.main-container .inner-conatiner {
  width: 100%;
  height: 80%;
  margin: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container .inner-conatiner .city-conatiner {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  text-transform: uppercase;
  color: #fff;
}
.main-container .inner-conatiner .city-conatiner .city-name {
  font-size: 30px;
}
.main-container .inner-conatiner .city-conatiner .weather-condition {
  font-size: 18px;
}
.main-container .inner-conatiner .tempreture-conatainer {
  width: 100%;
  height: calc(100% - 100px);
}
.main-container .inner-conatiner .tempreture-conatainer .weather-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .inner-conatiner .tempreture-conatainer .weather-icon img {
  width: 100px;
  height: 100px;
}
.main-container .inner-conatiner .tempreture-conatainer .temp {
  font-size: 50px;
  text-align: center;
}
.main-container .inner-conatiner .tempreture-conatainer .minmax {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-container .inner-conatiner .tempreture-conatainer .minmax .min {
  border-right: 1px solid #fff;
}
.main-container .inner-conatiner .tempreture-conatainer .minmax .max {
  border-left: 1px solid #fff;
}
.main-container .inner-conatiner .tempreture-conatainer .minmax .max,
.main-container .inner-conatiner .tempreture-conatainer .minmax .min {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}
.main-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.main-container form input {
  width: 60%;
  height: 100%;
  padding: 0 10px;
  outline: none;
  background: transparent;
  border: none;
  color: #fff;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.842);
  transition-duration: 0.2s;
}
.main-container form input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.main-container form input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.main-container form input::placeholder {
  color: #fff;
  opacity: 1;
}
.main-container form input:focus {
  border-bottom: 1.5px solid #fff;
}
.main-container form button {
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  margin: 0 0 0 5px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  transition-duration: 0.5s;
}
.main-container form button:active {
  scale: 0.9;
}

.alert {
  position: fixed;
  bottom: -15%;
  z-index: 101;
  text-align: center;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.active-alert {
  bottom: 10px;
}

.bgimage {
  position: absolute;
  top: 0;
  right: 0;
  transition-duration: 0.2s;
  opacity: 0;
  filter: brightness(70%);
}

/* loding */
.loading {
  display: none;
}

.spinner {
  height: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #000;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner span {
  -webkit-animation: loading6454 1.75s ease infinite;
          animation: loading6454 1.75s ease infinite;
}

.spinner span:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.spinner span:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.spinner span:nth-child(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.spinner span:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.spinner span:nth-child(6) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.spinner span:nth-child(7) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes loading6454 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes loading6454 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=style.css.map */